@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.anime-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.anime-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  margin: 10px;
  text-align: center;
}

.anime-card img {
  width: 100%;
  border-radius: 10px;
}

.anime-card h3 {
  font-size: 1.2em;
  margin: 10px 0;
}
